*{
	margin: 0 auto;
	padding: 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}
/*NAV*/
.navbar{
	background-color: black;
}
.navbar-default{
	margin: 0;
	border: none;
}
/* 1 HEADER*/
header{
	background-image: url(../../img/bg-header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	text-align: center;
}
header img{
	margin-top: 200px;
}
.glyphicon-chevron-down{
	color: #fff;
	font-size: 16px;
	margin-top: 120px;
	border: 2px solid #fff;
    padding: 20px; 
    border-radius: 100%;
}
/* 2 OUR VALUES*/ 
section{
	padding: 100px 0;
}
.top h2{
	font-size: 50px;
	font-weight: 800;
	margin: 0;
}
.top h4{
	font-size: 30px;
	font-weight: 800;
	margin: 0;
}
.icon{
	font-size: 30px;
	border-radius: 100%;
    border: 3px solid black;
    padding: 15px 0;
    width: 80px;
    height: 80px;
}
.values-info-section{
	margin-top: 20px;
}
.values{
	padding: 0 20px;
}
.values ul li{
	text-align: left;
	line-height: 40px;
	font-weight: 300;
	margin-left: 20px;
	font-style: italic;
}

/*LINE*/
.lines{
	padding: 15px 0px;
}
.first-line{
	width: 150px;
	border-bottom: 1px solid black;
}
.second-line{
	width: 150px;
	border-bottom: 1px solid black;
	margin-top: 3px;
}
.white{
	border-color: #fff;
}
/* 3 CAKE*/
#cake{
	background-image: url(../../img/bg-quote.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: #fff;
}
#cake h1{
	width: 900px;
	margin: 0 auto;
	font-size: 40px;
}
#cake .container{
	margin-top: 200px;
}
.btn-team{
	background-color: transparent;
	padding: 10px 20px;
	border: 1px solid #fff;
	border-radius: 2px;
	font-weight: 800;
	font-size: 18px;
}
/* 4 PEOPLE*/

#people p{
	margin: 10px 0;
}

	/*slider people*/
	.chef img{
		width: 360px;
	}
	.text-chef{
		position: absolute;
		color: #fff;
		margin-top: 150px;
	}
	.text-chef p{
		font-style: italic;
	}
	.icons-chef{
		padding: 0 120px;
	}
	.text-chef a{
		color: #fff;
		font-size: 20px;
	}
	.mini{
		width: 50px;
	}
	.glyphicon-chevron-left:before{
		margin-left: -100px;
	}